@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

:root{
    --icon-size: 36px;
    --cover-size: 72px;
}
body{
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
    background: #ddd;
}
.jk_player{
    display: flex;
    position: relative;
    align-items: center;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif ;
    user-select: none;
    z-index: 2;
    justify-content: space-around;
    padding: 10px 0;
}
.jk_player .background{
    background-size: cover !important;
    background-position: center center !important;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    filter: blur(8px);
}
.jk_player > .play_next,
.jk_player > .play_prev{
    --height: calc(var(--icon-size) * 2);
    height: var(--height);
    width: var(--height);
    position: absolute;
    top: calc(50% - var(--height)/2);
    cursor: pointer;
}
.jk_player > .play_prev{
    left: 0;
}
.jk_player > .play_next{
    right: 0;
}
.jk_player > .container{
    margin: 20px;
    overflow: hidden;
    background: #cccc;
    border-radius: 22px;
    overflow: hidden;
    position: relative;
    max-width: 450px;
    max-height: 600px;
    height: 100%;
    box-shadow: 2px 2px 5px #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.play_prev > img,
.play_next > img{
    height: var(--icon-size);
    width: var(--icon-size);
    cursor: pointer;
}
.cover_img{
    height: var(--cover-size);
    width: var(--cover-size);
    border-radius: 25%;
}
.header,
.track{
    width: 100%;
    box-sizing: border-box;
    position: relative;
    padding: 20px;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: #aaa;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #777;
}
.header{
    border-radius: 22px;
    box-shadow: 7px 3px 5px #777;
}
.header-info{
    display: inline-flex;
    flex: 1;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}
.cover{
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.stat_icon.play{
    background: url('play.svg');
}
.stat_icon.pause{
    background: url('pause.svg');
}
.stat_icon.buff{
    background: url('loading.png');
    opacity: 1;
}
.stat_icon{
    position: absolute;
    height: 72px;
    width: 72px;
    transition: opacity .4s;
    opacity: 0;
    background-repeat: no-repeat !important;
    background-position: center !important;
}
.cover:hover .stat_icon,
.cover:focus .stat_icon,
.track:hover .stat_icon,
.track:focus .stat_icon{
    opacity: 0.7;
}
.header .stat_icon,
.track.playing .stat_icon{
    opacity: 0.7;
}

.track_controls{
    width: 100%;
    padding-top: 20px;
    flex-grow: 1;
    display: inline-flex;
    justify-content: space-between;
    column-gap: 5px;
}
.slider{
    flex-grow: 1;
}
.slider_ctrl{
    width: 100%;
    position: relative;
}
.played_duration{
    min-width: 35px;
}
.played_duration,
.track_duration{
    font-size: 14px;
}

.list-track{
    position: relative;
    display: inline-block;
    padding: 20px 0;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.list-track::-webkit-scrollbar{
    display: none
}
.scroll_track{
    position: absolute;
    font-size: 20px;
    color: #333;
    font-weight: 700;
    bottom: 0;
    right: 0;
    margin: 10px;
    cursor: pointer;
    padding: 5px;
    border: 1px solid #333;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    text-align: center;
    z-index: 3;
    transition-duration: .3s;
    transition-property: color, background;
}
.scroll_track:hover,
.scroll_track:focus{
    background: #bbb;
    color: #000;
}
.track{
    padding: 5px 20px;
    cursor: pointer;
    background: transparent;
    position: relative;
    border: 1px solid transparent;
    width: calc(100% - 12px);
    margin: 0px 5px;
    transition: background .5s;
}
.track:hover,
.track.playing{
    box-sizing: border-box;
    background: #999;
    border-bottom-color: #999;
    border-radius: 10px;
}
.track > .cover{
    padding-right: 10px;
}
.info{
    position: relative;
    display: inline;
    flex: 1;
}
.track_name{
    font-weight: bold;
    font-size: 17px;
    color: #000;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}
.album_name{
    font-size: .80em;
    line-height: 140%;
    color: #222;
    letter-spacing: .8px;
}
.external_links{
    display: inline-flex;
    justify-content: center;
    width: 100%;
}
.external_links .container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}
.external_links.mobile{
    padding: 50px 0;
}
.external_links.desktop{
    width: auto;
}
.external_links.desktop .container{
    flex-direction: column;
    gap: 22px;
}
.external_links.desktop .link_item.additional{
    display: none;
}
.external_links.notification{
    position: fixed;
    top: 0;
    display: none;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 5;
}
.external_links.notification{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: scroll #fff url("../artist.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    
}
.external_links.notification .container{
    max-width: 500px;
    column-gap: 40px;
    align-content: center;
    padding-top: 40px;
}
.link_item{
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    transition: transform .3s;
}
.link_item:hover,
.link_item:focus{
    transform: scale(1.2);
}
.link_item img{
    height: 54px;
    width: 54px;
}
footer{
    background: grey;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    z-index: 1;
}
footer a{
    text-decoration: underline;
    color: inherit;
    color: #ccf;
}
.notes{
    position: fixed;
    z-index: 3;
    bottom: 20px;
    left: 10px;
    background: #000000cc;
    border-radius: 10px;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1.3px;
    display: inline-flex;
    color: white;
    overflow: hidden;
    max-width: 0;
    transition-property: opacity, max-width;
    opacity: 0;
}
.notes.show{
    transition-duration: .3s;
    opacity: 1;
    max-width: 100vw;
    padding: 15px 10px;
}
@media only screen and (max-width: 570px) {
  .jk_player > .play_next,
    .jk_player > .play_prev{
        display: none;
    }
    .jk_player .container{
        max-height: 93vh;
    }
}
@media only screen and (max-width: 450px) {
  .jk_player .container{
      margin: 0;
  }
}

@media only screen and (max-width: 800px){
  .external_links.desktop{
      display: none;
  }
  .track{
      border-bottom-color: #999;
  }
}

@media only screen and (max-height: 450px){
  .external_links.desktop{
      display: none;
  }
    .jk_player .container{
        max-height: 100vh;
    }
}

